<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

<% include ../partials/navbar %>

    <main>
        <article>

                <% if (users.img != null){ %>

                <img src="upload/<%= users.img %>" alt = "Profilepicture">

                <%} else{%>

                <img src="img/placeholder.png" alt="ProfilePictue">

                <% } %>
           

            

            <section>
                <span>
            
                <a href= "changeprofile">
                <button class ="adjustbutton"><img src="img/icon/pencil.png" alt="adjust"></button>
                </a>
                </span>

                <h1>
                
                    <%= users.name %>, 
                    <%= users.age %>
                    
                </h1>

                <p>
                    <%= users.bio %>
                </p>

                <h3>Artists</h3>
                
                <ul class ="artists">
                    
                    <% for (var index = 0; index < users.artists.length; index++) { %>
                    
                        <li><%= users.artists[index] %></li>
                
                    <% } %>
                
                </ul>

                
                <h3>My hobbies</h3>
            </section>

        </article>
    </main>
</body>

</html>