<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

<% include ../partials/navbar %>

    <main>
        <article>

                <% if (users.img != null){ %>

                <img src="../../upload/<%= users.img %>" alt = "Profilepicture">

                <%} else{%>

                <img src="img/placeholder.png" alt="ProfilePictue">

                <% } %>
           

            

            <section>
                <span class="adjustRight">
            
                <a href= "changeprofile">
                <button class ="adjustbutton"><img src="img/icon/pencil.png" alt="adjust"></button>
                </a>
                </span>

                <h1>
                
                    <%= users.name %>, 
                    <%= users.age %>
                    
                </h1>

                <p>
                    <%= users.bio %>
                </p>

                <h3>Artists</h3>
                
                <ul class ="artists">
                    
                    <span class="xContainer">

                    <% for (var index = 0; index < users.artists.length; index++) { %>
                    
                        <span class="divide"><div><img src="../../img/noise.png" alt="noiseIcon"></div>    <li><%= users.artists[index] %></li></span>
                
                    <% } %>

                    </span>
                
                </ul>

                
                <h3>My hobbies</h3>
            </section>

        </article>
    </main>

<footer><p>Anarchy Dating</p></footer>
<script src="js/horizontalscroll.js"></script>
</body>

</html>